/.DS_Store
/.venv
excercise_notebooks/.DS_Store
projects/LearningHope/dataset/
projects/.DS_Store
projects/LearningHope/.DS_Store
projects/LearningHope/images/Duration.png
projects/LearningHope/Learning_Hope_Starter_Template.ipynb
projects/LearningHope/chatgpt.ipynb
